<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="signup-container">
  <form class="signup-form" method="POST" action="{{ url_for('signup') }}">
    <h2>Sign Up</h2>
    <div class="input-group">
      <label for="name">Username</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="input-group">
      <label for="department">Department</label>
      <select id="department" name="department" required>
        <option value="" disabled selected>Select a department</option>
        {% for department in context.departments %}
        <option value="{{ department.0 }}">{{ department.1 }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="role-selection">
      <label>
        <input type="radio" name="role" value="manager">
        Manager
      </label>
      <label>
        <input type="radio" name="role" value="employee">
        Employee
      </label>
    </div>
    <p>{{ context.msg }}</p>
    <button type="submit" class="signup-button">Sign Up</button>
  </form>
</div>
{% endblock %}